<plugin name='image-tools' version='1.0.5' grailsVersion='1.2.0 &gt; *'>
  <author>Ricardo J. Mendez</author>
  <authorEmail>ricardo@arquetipos.co.cr</authorEmail>
  <title>Basic image tools based on JAI</title>
  <documentation>http://grails.org/ImageTools+plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>